/* Nav */
nav.x-nav
{

}

/* Menu*/
nav.x-nav ul {
    margin: 0px;
    padding: 0px;
    list-style:none;    
}

/* List item */
nav.x-nav ul > li {
    white-space: nowrap;
    text-indent: 20px;
    line-height: 40px;
}

/* List item link */
nav.x-nav ul > li > a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    -webkit-transition: 300ms ease-in-out;
}

/* Menu selection */
nav.x-nav ul > li > a:hover
{
    background-color: #687E9A;
}

nav.x-nav ul > li.x-active > a {
    background-color: #9BBDE6;
}



.navbar-brand-noImage {
    margin: 5px 0px 0px 10px;
    vertical-align: middle;
    display: block;
    border: dashed 1px;
    font-size: 35px;
    text-align: center;
    color: rgba(190, 189, 189, 0.28);
    height: 50px;
    width: 300px;
}

.navbar-brand-noImage:hover {
    color: rgba(190, 189, 189, 0.28);
    text-decoration: none;
}