<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
	  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="C:\\LogServiceTest\\TestLog.txt" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
		  </layout>
	  </appender>
	
	  <root>
		  <level value="DEBUG" />
		  <appender-ref ref="RollingLogFileAppender" />
	  </root>
  </log4net>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UswcWebServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="UswcWebServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ProtectiveServicesSoap" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="SCSAutoServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="SCSAutoServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ContractServiceSoap" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="ContractServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ProtectiveServicesSoap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.uswarranty.com/uswcwebservicerates/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="UswcWebServiceSoap"
        contract="USWarrantyRates.UswcWebServiceSoap" name="UswcWebServiceSoap" />
      <endpoint address="http://www.uswarranty.com/Testuswcwebservicepolicies/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="UswcWebServiceSoap1"
        contract="USWarrantyForm.UswcWebServiceSoap" name="UswcWebServiceSoap1" />
      <endpoint address="http://www.model.ficafe.protective.com/_webservices/protectiveservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProtectiveServicesSoap"
        contract="ProtectiveForm.ProtectiveServicesSoap" name="ProtectiveServicesSoap" />
      <endpoint address="https://uat.fiadmin.com/scs.webservice/ScsAutoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SCSAutoServiceSoap"
        contract="RoadVantageRates.SCSAutoServiceSoap" name="SCSAutoServiceSoap" />
      <endpoint address="https://uat.fiadmin.com/scs.webservice/ContractService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContractServiceSoap"
        contract="RoadVantageForm.ContractServiceSoap" name="ContractServiceSoap" />
      <endpoint address="http://www.ficafe.protective.com/_webservices/protectiveservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProtectiveServicesSoap1"
        contract="ProtectiveFormLive.ProtectiveServicesSoap" name="ProtectiveServicesSoap1" />
    </client>
  </system.serviceModel>
</configuration>