<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UswcWebServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="UswcWebServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ProtectiveServicesSoap" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="SCSAutoServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="SCSAutoServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ContractServiceSoap" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="ContractServiceSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="ProtectiveServicesSoap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.uswarranty.com/uswcwebservicerates/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="UswcWebServiceSoap"
        contract="USWarrantyRates.UswcWebServiceSoap" name="UswcWebServiceSoap" />
      <endpoint address="http://www.uswarranty.com/Testuswcwebservicepolicies/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="UswcWebServiceSoap1"
        contract="USWarrantyForm.UswcWebServiceSoap" name="UswcWebServiceSoap1" />
      <endpoint address="http://www.model.ficafe.protective.com/_webservices/protectiveservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProtectiveServicesSoap"
        contract="ProtectiveForm.ProtectiveServicesSoap" name="ProtectiveServicesSoap" />
      <endpoint address="https://uat.fiadmin.com/scs.webservice/ScsAutoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SCSAutoServiceSoap"
        contract="RoadVantageRates.SCSAutoServiceSoap" name="SCSAutoServiceSoap" />
      <endpoint address="https://uat.fiadmin.com/scs.webservice/ContractService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContractServiceSoap"
        contract="RoadVantageForm.ContractServiceSoap" name="ContractServiceSoap" />
      <endpoint address="http://www.ficafe.protective.com/_webservices/protectiveservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProtectiveServicesSoap1"
        contract="ProtectiveFormLive.ProtectiveServicesSoap" name="ProtectiveServicesSoap1" />
    </client>
  </system.serviceModel>
</configuration>