<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProtectiveServicesSoap" 
                         maxReceivedMessageSize=" 2147483647" 
                         closeTimeout="00:05:00" 
                         openTimeout="00:05:00"
                         receiveTimeout="00:05:00" 
                         sendTimeout="00:05:00"  />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.ficafe.protective.com/_webservices/protectiveservices.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProtectiveServicesSoap"
                contract="ProtectiveTest.ProtectiveServicesSoap" name="ProtectiveServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>